# .gitignore file for ECE 508 Homework 1

$ cat .gitignore

# skip the PDF instructions
*.pdf

# skip object files
*.o

# skip preprocessor files
*.i

# skip assembler files
*.s

# skip symbol tables
*.sym